<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>
  <body>
    <h1>Information about game:</h1>
    <br />
    <a href="/">Go back to the homepage</a>
    <br />
    <a href="/games">Go back to a list of games!</a>
    <br />
    <h3>List of users who liked this game:</h3>
  </body>
</html>
